.box1 {
    width: 19%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.button-one {
    cursor: pointer;
    border-style: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    font-size: 1.6em;
    font-weight: bold;

}

.button-operator-one {
    background-color: #a6a4a7;
    font-weight: 500;
}

.button-operator-two {
    background-color: #ff9e0b;
    font-weight: 100;
    color: white;
}

.button-number {
    background-color: #343235;
    color: white;
    font-weight: 500;
}

